body {
    background-color: black;
}

@font-face {
    font-family: 'Dark Tone';
    src: url('DarkTone-Regular.woff2') format('woff2'),
        url('DarkTone-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nice Nightie';
    src: url('NiceNightie.woff2') format('woff2'),
        url('NiceNightie.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Donjonikons';
    src: url('Donjonikons.woff2') format('woff2'),
        url('Donjonikons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eight Bit Dragon';
    src: url('Eight-Bit-Dragon.woff2') format('woff2'),
        url('Eight-Bit-Dragon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* Menu */

.title h1 { 
    font-family: 'Dark Tone';
    font-size: 100px;
    text-align: center;
}

.menuButtons {
    font-family: 'Dark Tone';
    font-size: 40px;
    text-align: center;
}

.menuButtons input {
    margin: 15px 0px;
}

/* Menu End */

/* .skull_menu {
    width: 300px;
    height: 300px;
    background: url(../idle.png);
    animation: play .8s steps(18) infinite;
}

@keyframes play {
    100% { background-position: 5400px 0};
} */

/* Village */
.village h1{
    /* fade h1 in */
    font-family: 'Nice Nightie';
    font-size: 60px;
    text-align: center;
}

.characterText {
    border: gray solid 3px;
    height: auto;
    overflow-y: auto;
}

.textBox { 
    
}

.box {
    border: solid tan 2px;
    background-color: gray;
    margin: 10px 0px;
    height: 100px;
    overflow-y: auto;
}

.box p {
    font-family: 'Eight Bit Dragon';
}

@media (max-width: 767px) {
    .characterText img {
        height: 50%;
        width: 50%;
    }
}
/* Village Scene End */

/* Fight Scene One */
@media (min-width:768px) {
    .fightScene img {
        height: 525px;
    }

}

@media (max-width: 767px) {
    .fightScene img {
        height: 300px;
    }
}

/* End Fight Scene */